div
  margin: 20px

  img
    width: 40px
    margin: 10px

    &:nth-child(1)
      animation: bounce 1s ease infinite

    &:nth-child(2)
      animation: bounce 1s ease infinite
      animation-delay: 250ms

    &:nth-child(3)
      animation: bounce 1s ease infinite
      animation-delay: 500ms

    &:nth-child(n+4)
      display: none


@keyframes bounce
  0%, 100%
    transform: translateY(0)
  50%
    transform: translateY(-20px)

