<mat-toolbar class="toolbar-full-width">
  <a *ngFor="let footballCountry of footballCountries"
     [id]="(footballCountry.name| lowercase) + 'Select'"
     routerLinkActive="active-link"
     [routerLink]="'/'+(footballCountry.name | lowercase)"
     mat-button>
    <div>
      <img src="{{getUrl(footballCountry.leagueId)}}">
      <div>
        <div class="country">
          {{footballCountry.name | titlecase}}
        </div>
        <div class="league">
          {{footballCountry.league | titlecase}}
        </div>
      </div>
    </div>
  </a>
</mat-toolbar>
